<!DOCTYPE html>
<html>
<head>
  <title>Válaszok</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <div id="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Admin</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin?jelszo=bumburnyak">Answers</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/admin/unsure?jelszo=bumburnyak">Unsures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/timings?jelszo=bumburnyak">Timings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/stats?jelszo=bumburnyak">Statistics</a>
        </li>
      </ul>
    </nav>
  </div>
  <div id="container">
  <table class="table table-bordered table-hover table-stripped">
    <thead>
      <th>Küldő azonosító</th>
      <th>Nem volt benne biztos</th>
    </thead>
<% unsures.forEach( function(unsure) { %>
    <tr>
      <td><%= unsure.id %></td>
<% unsure.unsures.forEach( function(value) { %>
      <td><%= value ? "I" : "" %></td>
<% }) %>
    </tr>
<% }) %>
  </table>
  </div>
</body>
</html>
