body {
  padding: 50px;
  font: 14px "Times New Roman", Helvetica, Arial, sans-serif;
  font-family: "Times New Roman" !important;
}

a {
  color: #00B7FF;
  text-decoration: none !important;
}

.smallimage {
  width: 150px;
}

.hidden {
  display: none;
}

.bordered-button {
  border: 1px solid black !important;
  border-radius: 0px !important;
  background-color: transparent;
  padding: .375rem .75rem;
}

.fullscreen-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.fullcenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vertcenter {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horicenter {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.margined {
  margin: 15px;
}

.inlinedisplay {
  display: inline;
}

#imagecontainer {
 overflow: hidden;
 white-space: nowrap;
}


input[type=checkbox]
{
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  padding: 10px;
  margin: 15px;
}

button {
  outline: 0 !important;
}
